<h1>Employees</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
  </tr>
  
  <% @employee.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.position %></td>
    <td><%= link_to 'Show', employee_index_path(employee) %></td>
  </tr>
  <% end %>
</table>

<%=link_to 'Back', welcome_index_path %>