<nav class="navbar-default" role="navigation">
   <a class="navbar-brand">Ompany!</a> 
</nav>

<div class="container">
    <h1>Welcome to <strong style = "color: red">Ompany</strong></h1>
</div> <!-- container -->

