

    <h5>Welcome to <strong style = "color: red">Ompany Ncorporated</strong></h5>
    
    <div class="container">
    <div class="loginForm form-group">
      <label for="username">Username: </label>
      <input type="text" class="form-control" id="username">
      
      <label for="password">Password: </label>
      <input type="password" class="form-control" id="password">
    </div><!-- loginForm"-->
    
    <%= link_to 'Login', controller: 'directory' %>
    </div> <!-- container -->
</div> <!-- wrapper -->

